### Strings

String syntax

In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [2]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [5]:
# escape error by backslash
'Pluto\'s a planet!'

"Pluto's a planet!"

In [6]:
hello = "hello\nworld"
print(hello)

hello
world

In [7]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [8]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

Strings are sequences

In [9]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [10]:
# Slicing
planet[-3:]

'uto'

In [11]:
# How long is this string?
len(planet)

5

In [12]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [13]:
planet[0] = 'B'
# planet.append doesn't work either

TypeError: 'str' object does not support item assignment

String methods

In [14]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [15]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [16]:
# Searching for the first index of a substring
claim.index('plan')

11

In [17]:
claim.startswith(planet)

True

In [18]:
# false because of missing exclamation mark
claim.endswith('planet')

False

Going between strings and lists: .split() and  .join()

In [19]:
# str.split() turns a string into a list of smaller strings

In [20]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [23]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
year, month, day

('1956', '01', '31')

In [24]:
# str.join() takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator

In [25]:
'/'.join([month, day, year])

'01/31/1956'

In [27]:
# Yes, we can put unicode characters right in our string literals :)
' üëè '.join([word.upper() for word in words])

'PLUTO üëè IS üëè A üëè PLANET!'

Building strings with .format()

In [28]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [29]:
position = 9
planet + ", you'll always be the" + position + "th planet to me."

TypeError: can only concatenate str (not "int") to str

In [30]:
planet + ", you'll always be the" + str(position) + "th planet to me."

"Pluto, you'll always be the9th planet to me."

In [31]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [33]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#        2 decimal points    3 decimal points, format as percent    separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(planet, pluto_mass, pluto_mass / earth_mass, population)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [34]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

### Dictionaries

In [35]:
numbers = {'one':1, 'two':2, 'three':3}

In [36]:
numbers['one']

1

In [37]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [38]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [39]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [40]:
'Saturn' in planet_to_initial

True

In [41]:
'Betelgeuse' in planet_to_initial

False

In [42]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [43]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [44]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"