# 여러 데이터 프레임 합치기
concat() 함수: 여러 데이터 프레임을 열 이름 기준 또은 행 이름 기준으로 합쳐주는 함수

In [ ]:
import pandas as pd

df1 = pd.read_csv('concat_1.csv')
df2 = pd.read_csv('concat_2.csv')
df3 = pd.read_csv('concat_3.csv')

In [ ]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [ ]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [ ]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [ ]:
result = pd.concat([df1, df2, df3])
result

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [ ]:
# 열을 기준으로 합치기
result = pd.concat([df1, df2, df3], ignore_index = True)    # index 0부터 다시 조정
result

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [ ]:
# 행을 기준으로 합치기
result2 = pd.concat([df1, df2, df3], axis = 1)    # (default) axis = 0
result2

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [ ]:
result2 = pd.concat([df1, df2, df3], axis = 1, ignore_index = True)  
result2

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [ ]:
df2.columns = ['A', 'C', 'E', 'F']
df2

    A   C   E   F
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [ ]:
pd.concat([df1, df2, df3])

     A    B    C    D    E    F
0   a0   b0   c0   d0  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN
0   a4  NaN   b4  NaN   c4   d4
1   a5  NaN   b5  NaN   c5   d5
2   a6  NaN   b6  NaN   c6   d6
3   a7  NaN   b7  NaN   c7   d7
0   a8   b8   c8   d8  NaN  NaN
1   a9   b9   c9   d9  NaN  NaN
2  a10  b10  c10  d10  NaN  NaN
3  a11  b11  c11  d11  NaN  NaN

In [ ]:
df2.index = ['가', '나', '다', '라']
df2

    A   C   E   F
가  a4  b4  c4  d4
나  a5  b5  c5  d5
다  a6  b6  c6  d6
라  a7  b7  c7  d7

In [ ]:
pd.concat([df1, df2, df3], axis = 1)

     A    B    C    D    A    C    E    F    A    B    C    D
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN   a9   b9   c9   d9
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN  a10  b10  c10  d10
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  a11  b11  c11  d11
가  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
나  NaN  NaN  NaN  NaN   a5   b5   c5   d5  NaN  NaN  NaN  NaN
다  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
라  NaN  NaN  NaN  NaN   a7   b7   c7   d7  NaN  NaN  NaN  NaN